<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <h1>INVENTORY MANAGEMENT</h1>
            <div class="col-sm-2">
                <ul class="sidebar-nav">
                    <li><a href="/catalog">Home</a></li>
                    <li><a href="/catalog/categories">Categories</a></li>
                    <li><a href="/catalog/items">Items</a></li>
                    <hr>
                    <li><a href="/catalog/categories/create">Create new category</a></li>
                    <li><a href="/catalog/items/create">Create new item</a></li>
                </ul>
            </div>
            <div class="col-sm-10">